@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --basegray-40: rgba(181, 190, 198, 1);
  --basegray-80: rgba(74, 86, 96, 1);
  --basewhite: rgba(255, 255, 255, 1);
  --dropdown: 2px 16px 19px 0px rgba(0, 0, 0, 0.09);
  --h4-font-family: "Avenir Next LT Pro", Helvetica;
  --h4-font-size: 16px;
  --h4-font-style: normal;
  --h4-font-weight: 400;
  --h4-letter-spacing: 0px;
  --h4-line-height: 18px;
  --overline-font-family: "Avenir Next LT Pro", Helvetica;
  --overline-font-size: 10px;
  --overline-font-style: normal;
  --overline-font-weight: 400;
  --overline-letter-spacing: 1.5px;
  --overline-line-height: 12px;
  --secondary-100: rgba(240, 77, 35, 1);
}